:root{
    --teal: #2ec1ac;
    --teal_hover: #279e8c;
}

*{
    font-family: 'Assistant', sans-serif;
}
.h-font{
    font-family: 'Playfair Display', serif ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.custom-bg{
    background-color: var(--teal);
    border: 1px solid var(--teal);
}
.custom-bg:hover{
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}
.h-line {
    width: 150px;
    margin: 0 auto;
    height: 1.7px;;
}
.footer{
    margin-top: 20px;
    margin-bottom: -20px;
}

.custom-alert {
    position: fixed;
    right: 25px;
    top: 80px;
    z-index: 1111;
  }
